body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px 100px 20px 100px;
  border: 30px solid gray;
}

span {
  color: gray;
}

.contact {
  text-align: center;
}

.work {
  vertical-align: top;
  padding-right: 50px;
}
